

main {
  background: linear-gradient(180deg, rgba(9,24,121,0.9501050420168067) 0%, rgba(14,194,149,1) 18%, rgba(9,201,188,1) 87%, rgba(0,212,255,1) 92%);
}

#cart-container {
  /*background-image: linear-gradient(to right, #1a5c04 0%, #46f028 98%);*/
  background-color: #dfdcdc;
  max-width: 800px;
  margin: auto;
  gap: 60px;
}

.tarjeta-producto {
  display: flex;
  align-items: center;
  height: 132px;
  gap: 10px;
  margin-bottom: 40px; 
}

.tarjeta-producto img {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 8px;
  height: 80%;
}

.tarjeta-producto h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(25, 25, 26);
}

#cantidad {
  display: flex;
  align-content: center;
  flex-direction: column;

}

.tarjeta-producto div {
  background-color: #453e3b;
  color: antiquewhite;
  font-weight: 700;
  display:flex;
  flex-direction: row;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  gap: 30px;
}

#totales {
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
}

#carrito-vacio {
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  background-color: red;
}

#btnComprar,
#reiniciar {
  background-color: #020202;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
}

/* Media queries para pantallas medianas */
@media screen and (max-width: 768px) {
  #cart-container {
      max-width: 90%;
      padding: 0 20px;
  }

  .tarjeta-producto {
      height: auto;
      flex-direction: column;
  }

  .tarjeta-producto img {
      margin: 10px 0;
      width: 100px; 
      height: auto;
  }

  .tarjeta-producto div {
      flex-direction: row;
      align-items: center;
  }
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 480px) {
  #cantidad{
    display: flex;
    flex-direction: row;
  }
  #cart-container {
      max-width: 100%;
      padding: 0 10px;
  }

  .tarjeta-producto {
      gap: 5px;
  }
}

