body{
    background-color:darkcyan;
    

    
}

/* CSS para el formulariode contacto */
.titulo-contacto {
    text-decoration: none;
    background-color: darkcyan;
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    padding: 2.5px;
    margin-bottom: 20px;
}

.contactform {
   /* background-image: linear-gradient(180deg, #6d7ded 10%, #215536 98%);*/
   background-color: #abacb5;
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#titulo1{
font-family: Georgia, 'Times New Roman', Times, serif;
color:#fff;

}

.contactform h3{
    color: white;
}

.contactform label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform input[type="tel"],
.contactform textarea {
    background-color: rgba(230, 226, 223, 0.941);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fcf0f0e5;
    border-radius: 5px;
    box-sizing: border-box;
}

.contactform .form-txt {
    margin-top: 10px;
}

.contactform .form-txt a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.contactform .form-txt a:hover {
    text-decoration: underline;
}

.contactform .btn {
    margin-top: 10px;
    background-color: rgb(4, 118, 97);
    color: white;
    border-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#BotonCondiciones{
    display: inline-block;
    margin: 10px 0px;
    background-color: rgb(4, 118, 97);
    color: #fff;
    font-size: 15px;
    padding: 6px 6px 6px;
    border:none;
    border-radius: 20px;
    cursor: pointer;   
}
#BotonCondiciones:hover{
    background-color: rgb(134, 201, 235);
color: #0d0e0d;
    
}
#BotonPoliticas{
    display: inline-block;
    margin: 10px 0px;
    background-color: rgb(4, 118, 97);
    color: #fff;
    font-size: 15px;
    padding: 6px 6px 6px;
    border:none;
    border-radius: 20px;
    cursor: pointer;}

    #BotonPoliticas:hover{
        background-color: chartreuse;
    color: #0d0e0d;
        
    }

#cuenta-carrito{
    position: absolute;
    background-color: #f73307;
    color: #ffff;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
}
.btnLegales{
  margin-bottom: 5px;
  margin-top: 5px;
    background-color: rgb(5, 137, 124);
    color: white;
    border-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.contactform .btn:hover {
    background-color: #509ff4;
    
}
.contlegales{
    /*background-image: linear-gradient(0deg, #6d7ded 10%, #215536 98%);*/  
     display: block;
     justify-content: space-between;
     background-color:#eaebf1 ;
     color: rgb(7, 8, 8);
     margin-top: 2%;
     border-radius: 1rem;
     text-align: center;

}




.politicas {
    background-color:#eaebf1;
    color: rgb(7, 8, 8);
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: none;
}
.condiciones {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}
@media (min-width: 768px) {
    .politicas{
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .condiciones{
        flex-direction: row;
    }
}