/**aqui comienza el css del footer**/

.footer{
    background: -webkit-linear-gradient(90deg, #006369,#317ba8,#b680c6,#a497df,#90acef);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #006369,#317ba8,#b680c6,#a497df,#90acef);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  
    
    }
    footer ul{
      padding:0;
    }
    footer li{
      list-style: none;
    }
    .wrap-footer{
      display: grid;
      grid-template-columns: 30% 15% 15% 20%;
      column-gap: 5%;
      padding: 1rem;
      margin: 2rem auto;
      max-width: 1200px;
    }
    .logo-element_footer{
      display: flex;
     
      margin: 2rem 0;
    }
    .logo-element_footer img{
      max-height: 75px;
      align-items: center;
      justify-content: center;
    }
    .element-footer h5{
      margin: 1rem 0;
    }
    .text-element-footer li{
      line-height: 2;
    }
    .link-elements-footer li a{
      color:#1a1b0d;
    }
    .rrss-element-footer ul{
      display: flex;
      flex-flow: wrap;
    }
    .rrss-element-footer img{
    
      width: 35px;
    }
    .rrss-element-footer li{
      align-items: center;
      margin-right: 1rem;
    }
    .footer-creds{
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      color: #fff;
      font-size: .9rem;
      max-width: 1200px;
      margin: 0 auto;
    }
    .legal-creds ul{
      display: flex;
      flex-flow: row;
    }
    .legal-creds ul li{
      padding-right: 1rem;
    }
    .legal-creds ul a{
      color: #fff;
      font-size: .9rem;
    }
    .rrss{
      display: flex;
      justify-content:space-between;
      align-items: center;
    }
    @media (max-width:768px){
      .wrap-footer{
        grid-template-columns: repeat(2,1fr);
      }
    }
    
    @media (max-width:480px){
      .wrap-footer{
        grid-template-columns: repeat(1,1fr);
      }
    }
    
    @media (max-width:320px){
      .footer-creds{
        flex-flow: column;
      }
    }