/* Productos home*/
#productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
  justify-content: center;
  background: linear-gradient(90deg, rgba(9, 24, 121, 0.9501050420168067) 0%, rgba(14, 194, 149, 1) 18%, rgba(9, 201, 188, 1) 87%, rgba(0, 212, 255, 1) 92%);
}

.tarjeta-producto {
  background-color: rgb(146, 115, 36);
  text-align: center;
  padding: 10px;
  max-width: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 200ms;
}

.tarjeta-producto:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  translate: 0px -5px;
}

.tarjeta-producto img {
  max-width: 100%;
  aspect-ratio: 1.5;
}

.precio {
  font-weight: 600;
}

.tarjeta-producto button {
  font-size: larger;
  background-color: rgb(37, 37, 43);
  border-radius: 20px;
  padding: 5px 10px;
  color: #f6f0f0;
  border: unset;
  cursor: pointer;
}

.tarjeta-producto button:hover {
  background-color: rgb(227, 247, 6);
  color: rgb(2, 2, 2);
}

.slider {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #283048;
  background: linear-gradient(to right, #859398, #283048);
  padding: 20px;
}

.container-carrousel {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #060606;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  overflow:hidden;

}

.slider-section {
  width: calc(100% /4);
  height: 100%;
}

.carrouseles {
  width: 400%;
  height: 100%;
  display: flex;
}

.slider-section img {
  width: 500px;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #06060681;
  transform: translate(0, -50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #333333d4;
  color: #ffff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

/**textos**/

.texto-1 {
  height: 5%;
  font-size: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1vw;
  color: rgb(8, 8, 8);
  background-color: #e7dfd8;
  padding: 2vw;
  scroll-behavior: smooth;
}

.parrafos {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  align-items: center;
  text-align: center;
  size: 1.5rem;
  color: #080808;
  width: 100%;
  height: 35%;
 background-color: #e7ebed;
}

.Mision {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  align-items: center;
  text-align: center;
  size: 1.5rem;
  color: #080808;
  width: 100%;
  height: 35%;
 background-image: url(./img/iconos/white-cloud-blue-sky.jpg);
}